//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  
  small {
    color: $headings-small-color;
  }
}

h1,
h2,
h3 {
  letter-spacing: -1px;
}
h4,
h5,
h6 {

}

h1, .h1 { @include baseline-font-size($font-size-h1); @include baseline-margin($baseline, 0, 1); } // ~62px
h2, .h2 { @include baseline-font-size($font-size-h2); @include baseline-margin($baseline, 0, 1); } // ~52px
h3, .h3 { @include baseline-font-size($font-size-h3); @include baseline-margin($baseline, 0, 1); } // ~40px
h4, .h4 { @include baseline-font-size($font-size-h4); @include baseline-margin($baseline, 0, 1); } // ~29px
h5, .h5 { @include baseline-font-size($font-size-h5); @include baseline-margin($baseline, 0, 1); } // ~28px 
h6, .h6 { @include baseline-font-size($font-size-h6); @include baseline-margin($baseline, 0, 1); } // ~24px

// Body text
// -------------------------

p {
  @include baseline-font-size($font-size-base); 
  @include baseline-margin($baseline, 0, 1);
}

.lead {
  font-family: $headings-font-family;
  margin-bottom: $baseline;
  @include baseline-font-size($font-size-base * 2.5); 
  @include baseline-margin($baseline, 0, 1);
  font-weight: 300;
}

// Emphasis & misc
// -------------------------
strong, b {
  font-weight: 700;
  line-height: 1;
}
em, i {
  font-style: italic;
}

small,
.small {
  font-size: 83%;
}

// Contextual emphasis
.txt-muted {
  color: $text-muted;
}
.txt-inverse {
  color: $white;
}
.txt-primary {
  @include text-emphasis-variant($primary);
  border-color: $state-primary-border;
}
.txt-secondary {
  @include text-emphasis-variant($secondary);
  border-color: $state-secondary-border;
}
.txt-mental {
  @include text-emphasis-variant($mental);
  border-color: $state-mental-border;
}
.txt-warning {
  @include text-emphasis-variant($state-warning-text);
  border-color: $state-warning-border;
}
.txt-error {
  @include text-emphasis-variant($state-danger-text);
  border-color: $state-danger-border;
}
.txt-success {
  @include text-emphasis-variant($state-success-text);
  border-color: $state-success-border;
}
.txt-info {
  @include text-emphasis-variant($state-info-text);
  border-color: $state-info-border;
}

// Contextual backgrounds
.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  color: $white;
  @include bg-variant($state-primary-bg);
  border-color: darken(adjust-hue($gray3, -10), 5%);
}
.bg-secondary {
  @include bg-variant($state-secondary-bg);
  border-color: $state-secondary-border;
}
.bg-mental {
  @include bg-variant($state-mental-bg);
  border-color: $state-mental-border;
}
.bg-success {
  @include bg-variant($state-success-bg);
  border-color: $state-success-border;
}
.bg-info {
  @include bg-variant($state-info-bg);
  border-color: $state-info-border;
}
.bg-warning {
  @include bg-variant($state-warning-bg);
  border-color: $state-warning-border;
}
.bg-error {
  @include bg-variant($state-danger-bg);
  border-color: $state-danger-border;
}


// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-bottom: ($baseline / 2);
  @include baseline-margin($baseline, 0, 1);
}

// Description Lists
dl {
  margin-bottom: $baseline;
}
dt,
dd {
  line-height: $line-height-base;
}

// Abbreviations and acronyms
abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted $abbr-border-color;
}

// Blockquotes
blockquote {
  padding: 0 0 0 40px;
  margin: 0 0 $baseline;
  @include baseline-margin($baseline, 0, .5);
  position: relative;
  &:before {
    display: block;
    content: "\201C";
    @include baseline-font-size($font-size-base * 11);
    line-height: 1;
    position: absolute;
    left: -20px;
    top: -($font-size-base * $line-height-base);
    color: $blockquote-border-color;
  }
  p {
    font-family: $headings-font-family;
    font-weight: normal;
    margin-bottom: .4em;
    @include baseline-font-size($font-size-base * 1.4);
    @include baseline-margin($baseline, 0, .5);
  }
  small,
  cite,
  .small {
    @include baseline-font-size($font-size-base);
    @include baseline-margin($baseline, 0, .5);
    font-style: italic;
    color: $blockquote-small-color;

    &:before {
      content: "\2014 \2009";
    }
  }
  
  // Float right with text-align: right
  &.pull-right {
    padding: 0 40px 0 0;
    &:before {
      display: block;
      content: "\201D";
      @include baseline-font-size($font-size-base * 11);
      line-height: 1;
      position: absolute;
      left: auto;
      right: -20px;
      top: -($font-size-base * $line-height-base);
      color: $blockquote-border-color;
    }
    small {
      &:after {
        content: "";
      }
    }
  }
}

// Addresses
address {
  margin-bottom: $baseline;
  line-height: $line-height-base;
}
