// Gridle
// -------------------------
// Import gridle :
@import 'gridle/gridle';
@import 'mixins/mixins';

// Configure :
$gridle-columns-count : 12;
$gridle-gutter-width : 30px;
$gridle-row-width : 1170px;
$gridle-debug : false;
$gridle-html-states-classes : false; // not really for production, used for demo here...

@include gridle_register_default_states();
@include gridle_register_state("desktop",1025px,null);
@include gridle_register_state('ipad-landscape', 'only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)');

@import '../fonts/icomoon/style';

// Colors
// -------------------------
// $white : #fff;
// $black : #000;
// $primary : #1ABC9C;
// $secondary : #E67E22;
// $error : #E74C3C;
// $warning : #F1C40F;
// $info : #3498DB;
// $success : #2ECC71;
// $gray1 : #ECF0F1;
// $gray2 : #95A5A6;
// $gray3 : #34495E;
// $mental : #9B59B6;

// Autoschemer
// --------------------------
$scheme-type : 'rectangle'; // square|rectangle|triad|split-complementary|analogous|complementary
$primary : #EE4D2E;
$secondary : secondary();
$tertiary : tertiary();
$quadrary : quadrary();
$mental : $tertiary;

$gray2 : mix(desaturate($primary, 80%), black, 100%);
$gray3 : mix($gray2, black, 40%);
$gray1 : mix($gray2, white, 20%);


$white : mix($primary, white, 4%);
$black : mix($primary, black, 4%);

$error : #E74C3C;
$warning : #F1C40F;
$info : #3498DB;
$success : #2ECC71;

// $white : argh();
// $white : lighten(#e9edf3,5%);
//$black : #000;
//$primary : #EE4D2E;
//$secondary : #67B4D1;
// $error : adjust-hue(#E74C3C, 10);
// $warning : adjust-hue(#F1C40F, -5);
// $info : adjust-hue(#3498DB, 10);
// $success : adjust-hue(#2ECC71, -5);
//$gray1 : #e9edf3;
//$gray2 : #9EA6B6;
//$gray3 : #414859;
//$mental : adjust-hue(#9B59B6, 10);

$body-bg : $white;
$body-fg : $gray3;
$text-color : $gray3;
$link-color : $primary;
$link-hover-color : darken($primary, 5%);
$title-fg : $secondary;

@font-face {
    font-family: 'logo';
    src: url('../fonts/fucking-tag/fucking_tag_font-webfont.eot');
    src: url('../fonts/fucking-tag/fucking_tag_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fucking-tag/fucking_tag_font-webfont.woff') format('woff'),
         url('../fonts/fucking-tag/fucking_tag_font-webfont.ttf') format('truetype'),
         url('../fonts/fucking-tag/fucking_tag_font-webfont.svg#fucking_tag_fontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic|Domine:400,700|Roboto:100,300,400,700,900);

$font-family-base:          "Arimo","Helvetica Neue", Helvetica, Arial, sans-serif; //"Arimo", 
$font-family-demo:          "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace:     Monaco, Menlo, Consolas, "Courier New", monospace;
$font-size-base:            16px !default;
$line-height-base:          1.5 !default;
$baseline : floor($font-size-base * $line-height-base) !default;


$font-size-h1:              floor($font-size-base * 3.875); //62; // ~62px
$font-size-h2:              floor($font-size-base * 3.25); //52; // ~52px
$font-size-h3:              floor($font-size-base * 2.5); //40; // ~40px
$font-size-h4:              floor($font-size-base * 1.8125); //29; // ~29px
$font-size-h5:              floor($font-size-base * 1.5); //24; // ~24px
$font-size-h6:              floor($font-size-base * 1.25); //20; // ~20px



$headings-font-family:      'Roboto', "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif;;
$headings-font-weight:      700;
$headings-line-height:      1.1;
$headings-color:            inherit;
$headings-small-color:      lighten($secondary, 20%);


//** Text muted color
$text-muted:                  $gray1;
//** Abbreviations and acronyms border color
$abbr-border-color:           $gray1;
//** Headings small color
$headings-small-color:        mix($gray3, $white, 25%);
//** Blockquote small color
$blockquote-small-color:      inherit;
//** Blockquote border color
$blockquote-border-color:     mix($gray3, $white, 25%);
//** Page header border color
$page-header-border-color:    mix($gray3, $white, 25%);


// Miscellaneous
//
//##

//** Hr border color
$hr-border:                   mix($gray3, $white, 63%);

$state-primary-bg:            mix($black, $body-bg, 80%); //#dff0d8;
$state-primary-border: 		darken(adjust-hue($state-primary-bg, -10), 5%);

$state-secondary-text:          $secondary;
$state-secondary-bg:            mix($secondary, $body-bg, 15%); //#dff0d8;
$state-secondary-border:        darken(adjust-hue($state-secondary-bg, -10), 5%);

$state-mental-text:          $mental;
$state-mental-bg:            mix($mental, $body-bg, 15%); //#dff0d8;
$state-mental-border:        darken(adjust-hue($state-mental-bg, -10), 5%);

$state-success-text:          $success;
$state-success-bg:            mix($success, $body-bg, 15%); //#dff0d8;
$state-success-border:        darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:             $info;
$state-info-bg:               mix($info, $body-bg, 15%); //#d9edf7;
$state-info-border:           darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text:          $warning;
$state-warning-bg:            mix($warning, $body-bg, 15%); //#fcf8e3;
$state-warning-border:        darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text:           $error;
$state-danger-bg:             mix($error, $body-bg, 15%); //#f2dede;
$state-danger-border:         darken(adjust-hue($state-danger-bg, -10), 5%);

//== Components
//
//## Define common padding and border radius sizes and more.

//** Default font-size in components
$component-font-size-base: $font-size-base; // ceil($font-size-base * 0.8125); // ~15px

// Border-radius
$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;

//== Buttons
//
//## For each of Flat UI's buttons, define text, background, font size and height.

$btn-font-size-base:         $component-font-size-base;
$btn-font-size-xs:           round($component-font-size-base * 0.6875);   // ~12px
$btn-font-size-sm:           round($component-font-size-base * 0.8125); // ~13px
$btn-font-size-lg:           round($component-font-size-base * 1.25);  // ~17px
$btn-font-size-hg:           round($component-font-size-base * 1.5); // ~22px

// $btn-line-height-base:       1.4;   // ~21px
// $btn-line-height-hg:         1.227; // ~27px
// $btn-line-height-lg:         1.471; // ~25px
// $btn-line-height-sm:         1.385; // ~16px
// $btn-line-height-xs:         1.083; // ~13px

$btn-social-font-size-base:   floor($component-font-size-base * 0.867); // ~13px
$btn-social-line-height-base: 1.077;  // ~14px

$btn-font-weight:            normal;

$btn-default-color:          $white;
$btn-default-bg:             mix($gray1, black, 85%);;
$btn-hover-bg:               mix($gray1, black, 80%);
$btn-active-bg:              mix($gray1, black, 75%);

$btn-primary-hover-bg:       mix($primary, white, 80%);
$btn-primary-active-bg:      mix($primary, black, 85%);

$btn-secondary-hover-bg:       mix($secondary, white, 80%);
$btn-secondary-active-bg:      mix($secondary, black, 85%);

$btn-info-hover-bg:          mix($info, white, 80%);
$btn-info-active-bg:         mix($info, black, 85%);

$btn-success-hover-bg:       mix($success, white, 80%);
$btn-success-active-bg:      mix($success, black, 85%);

$btn-danger-hover-bg:        mix($error, white, 80%);
$btn-danger-active-bg:       mix($error, black, 85%);

$btn-warning-hover-bg:       overlay($warning, darken(white, 37.5%));
$btn-warning-active-bg:      mix($warning, black, 85%);

$btn-inverse-hover-bg:       overlay($gray3, darken(white, 37.5%));
$btn-inverse-active-bg:      mix($gray3, black, 85%);

$btn-link-disabled-color:    $gray1;

// Nav bar
//
//##
$nav-bar-height: $baseline * 2;